//variáveis
$cor-primaria:#E2E8F0;
$cor-secundaria:#2C3E50;
$cor-contraste:#0F172A;
$cor-destaque:#D35400;
*{
    padding:0;
    margin:0;
}
body{
    background-color: $cor-primaria;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 80px;

}

h1,h2{
    color: $cor-destaque;
    align-items:center;
}
.container-imagem{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
    gap: 40px;
    img{
        width: 70%;
        border-radius: 100%;
        // border:50px solid $cor-contraste;
        position:relative;
        align-items: baseline; 
    }
    .fundo-imagem{
        display:flex;
        background-color:$cor-secundaria;
        width:40%;
        height: 80%;
        border-radius:100%;
        align-items: baseline;
    }
}
.container-descricao{
    display: flex;
    flex-direction: column;
    padding:40px;
    gap:40px;

}
.container_favoritos{
    display:flex;
    flex-direction: column;
    gap:20px;
    padding:20px;
    .filmes,.musicas{
        background-color: $cor-secundaria;
        padding:40px;
        gap:10px;
        display:flex;
        flex-direction:column;
        justify-content:center; 
        border-radius:15px;
    }
}